@import url('./reset.css');
@import url('./global.css');

body {
  background-color: var(--color-black);
}

/* Scroll */

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #717171;
}

::-webkit-scrollbar-track {
  background-color: var(--color-black);
}
