.layout {
  display: flex;
  padding-top: 56px;
}

.outlet {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--color-black);
}

.btnFalse {
  margin-left: 250px;
}

.btnTrue {
  margin-left: 72px;
}

@media (min-width: 792px) and (max-width: 1300px) {
  .btnFalse,
  .btnTrue {
    margin-left: 72px;
  }
}

@media (max-width: 792px) {
  .btnFalse,
  .btnTrue {
    margin-left: 0;
  }
}
