.hover {
  width: 360px;
  height: fit-content;
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-dark-gray);
  border-radius: 10px;
  overflow: hidden;
}
.hoverPosition {
  position: relative;
  height: 220px;
}
.hoverinfo {
  display: flex;
  color: var(--color-white);
}
.channelimage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}
.videoInfo {
  width: 250px;
  margin: 10px 0;
  height: 95px;
}
.videoTitle {
  height: 40px;
  width: 250px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  line-height: 19px;
  color: var(--color-white);
}
.chan_view_date {
  font-size: 13px;
  color: var(--color-white);
  margin: 8px 3px;
}
.listicon {
  position: relative;
  top: -110px;
  left: 320px;
  color: var(--color-white);
}
.icon {
  width: 30px;
  height: 30px;
  color: var(--color-white);
}
.hoverbuttons {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -30px;
}
.hoverbutton {
  background-color: var(--color-semi-dark-gray);
  margin: 5px 5px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: var(--color-white);
}
.hoverbutton:hover {
  background-color: var(--color-semi-light-gray);
  color: var(--color-white);
}
