button {
  cursor: pointer;
}

header {
  position: fixed;
  z-index: 1010;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 56px;
  padding: 0 16px;
  background-color: #0f0f0f;

  .headerIcon {
    display: block;
    width: 40px;
    height: 40px;
    padding: 8px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;

    &.voice {
      padding: 10px;
      background-color: #212121;
    }

    &:hover {
      background-color: #272727;
    }

    &.search:hover {
      background-color: transparent;
    }
  }

  .headerLeftLogomenu {
    display: flex;
    align-items: center;
    .logo {
      position: relative;

      &,
      img {
        width: 120px;
        height: 56px;
      }

      img {
        padding: 18px 14px 18px 16px;
      }
      sup {
        position: absolute;
        top: 20%;
        right: 1px;

        color: #aaa;
        font-size: 10px;
      }
    }
  }

  .headerSearch {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 540px;

    form {
      position: relative;
      width: 100%;
      max-width: 540px;
      border-radius: 40px 0 0 40px;

      .inputWrap {
        display: flex;
        align-items: center;

        max-width: 503px;
        height: 40px;
        margin-left: 32px;
        padding: 0px 4px 0px 16px;

        border: 1px solid #303030;
        border-right: none;
        border-radius: 40px 0 0 40px;
        background-color: #121212;

        color: #ffffffe0;

        input {
          width: 100%;
          color: #ffffffe0;

          &:focus {
            outline: none;
          }
        }

        .keyboard {
          width: 40px;
          height: 30px;
          background-color: #121212;

          &:hover {
            filter: brightness(140%);
          }
        }
      }

      &:focus-within {
        border: 1px solid #1c62b9;
        .inputWrap {
          margin-left: 0px;
          padding-left: 48px;
        }
      }

      &:focus-within::before {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background: #121212 url('./assets/formFocusIcon.svg') no-repeat 0;
        z-index: 10;
      }
    }

    .headerSearchZoombtn {
      width: 60px;
      height: 40px;
      margin-right: 10px;
      padding: 1px 8px;
      border: 1px solid #303030;
      border-radius: 0 40px 40px 0;
      background-color: #222222;
    }
  }

  .headerRightBtns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    width: 225px;
    height: 40px;

    .headerIcon {
      padding: 10px;

      &.user {
        width: 34px;
        height: 34px;
        margin: 0 12px 0 17px;
        padding: 6px 0;
        background-color: #303030;
      }
    }
  }

  .tooltip {
    font-size: 12px;
    opacity: 70%;
  }

  @media (max-width: 636px) {
    form {
      display: none;
    }

    .headerIcon {
      &.voice {
        border-radius: 0;
      }
    }

    .headerSearch {
      justify-content: flex-end;

      .headerSearchZoombtn {
        width: fit-content;
        margin-right: 0;
        padding: 0;
        border: none;
        border-radius: none;
        background-color: transparent;
      }
    }

    .headerRightBtns {
      width: fit-content;
    }
  }

  @media (max-width: 428px) {
    .headerIcon {
      &.voice,
      &.notice {
        display: none;
      }
    }
  }
}
