* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.CommentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  .CommentBox {
    li {
      display: flex;
      padding: 1.5em;
      // height: 200px;
      flex-direction: column;
      .CommentBoxContainer {
        display: flex;
        .CommentAvatarContainer {
          display: flex;
          img {
            width: 40px;
            height: 40px;
            margin-right: 2rem;
            border-radius: 50%;
          }
        }
        .CommentTextContainer {
          width: 100%;
          font-size: 13.5px;
          .CommentAuthorName {
            display: flex;
            flex-direction: row;
            font-weight: 700;
            span {
              padding: 0 0.8rem;
              font-weight: 400;
              color: #aaa;
              font-size: 95%;
            }
            .CommentText {
              margin-top: 10px;
              padding: 1rem 0;
              font-size: 105%;
            }
          }
        }
      }

      .comment_buttons {
        margin-left: 70px;
        width: 100%;
        padding-top: 0.5rem;
        display: flex;
        div {
          margin-right: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .muted {
          color: #aaa;
          font-weight: 700;
        }
      }
    }
  }
}
